@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Prize Create";
}


@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}


<div class="container col-sm-7 p-5 form" >
    <form asp-action="Create" asp-controller="Prize" method="post">
       
        <label for="name">Numele premiului:</label>
        <input type="text" class="form-control" name="name" required />
        <br />
        <br />
        <button type="submit" class="btn btn-danger">Creați</button>
    </form>
</div>
