@{
    ViewData["Title"] = "Privacy Policy";
}


<h1> Politica de confidențialitate pentru site-ul cinematografic </h1>

<p> Pe site-ul Cinema, accesibil de la cinemawebsite.ro, una dintre principalele noastre priorități este confidențialitatea vizitatorilor noștri. Acest document de politică de confidențialitate conține tipuri de informații care sunt colectate și înregistrate de Cinema Website și modul în care le folosim. </p>

<p> Dacă aveți întrebări suplimentare sau aveți nevoie de mai multe informații despre politica noastră de confidențialitate, nu ezitați să ne contactați. </p>

<p> Această politică de confidențialitate se aplică doar activităților noastre online și este valabilă pentru vizitatorii site-ului nostru web cu privire la informațiile pe care le-au distribuit și / sau colectat pe site-ul Cinema. Această politică nu se aplică informațiilor colectate offline sau prin alte canale decât acest site web. Politica noastră de confidențialitate a fost creată cu ajutorul <a href="https://www.privacypolicygenerator.org/"> Generator gratuit de politici de confidențialitate </a>. </p>

<h2> Consimțământ </h2>

<p> Prin utilizarea site-ului nostru web, sunteți de acord cu politica noastră de confidențialitate și sunteți de acord cu termenii acesteia. </p>

<h2> Informațiile pe care le colectăm </h2>

<p> Informațiile personale pe care vi se cere să le furnizați și motivele pentru care vi se cere să le furnizați, vă vor fi clarificate în momentul în care vă rugăm să furnizați informațiile dvs. personale. </p>
<p> Dacă ne contactați direct, este posibil să primim informații suplimentare despre dvs., cum ar fi numele dvs., adresa de e-mail, numărul de telefon, conținutul mesajului și / sau atașamentele pe care ni le puteți trimite și orice alte informații pe care ați putea să le furnizați . </p>
<p> Când vă înregistrați pentru un cont, vă putem solicita informațiile de contact, inclusiv elemente precum numele, numele companiei, adresa, adresa de e-mail și numărul de telefon. </p>

<h2> Cum utilizăm informațiile dvs. </h2>

<p> Utilizăm informațiile pe care le colectăm în diferite moduri, inclusiv pentru: </p>

<ul>
    <li> Furnizați, operați și întrețineți site-ul nostru web </li>
    <li> Îmbunătățiți, personalizați și extindeți site-ul nostru </li>
    <li> Înțelegeți și analizați modul în care utilizați site-ul nostru </li>
    <li> Dezvoltați produse, servicii, funcții și funcționalități noi </li>
    <li> Comunicați cu dvs., fie direct, fie prin intermediul unuia dintre partenerii noștri, inclusiv pentru servicii pentru clienți, pentru a vă oferi actualizări și alte informații referitoare la site-ul web și în scopuri de marketing și de promovare
    <li> Vă trimit e-mailuri </li>
    <li> Găsiți și preveniți frauda </li>
</ul>

<h2> Fișiere jurnal </h2>

<p> Cinema Website urmează o procedură standard de utilizare a fișierelor jurnal. Aceste fișiere înregistrează vizitatori când accesează site-uri web. Toate companiile de găzduire fac acest lucru și o parte din analiza serviciilor de găzduire. Informațiile colectate de fișierele jurnal includ adrese de protocol internet (IP), tip de browser, furnizor de servicii Internet (ISP), ștampilă de dată și oră, pagini de referință / ieșire și, eventual, numărul de clicuri. Acestea nu sunt legate de nicio informație care poate fi identificată personal. Scopul informațiilor este de a analiza tendințele, de a administra site-ul, de a urmări mișcarea utilizatorilor de pe site și de a culege informații demografice. </p>




<h2> Politicile de confidențialitate ale partenerilor de publicitate </h2>

<P> Puteți consulta această listă pentru a găsi Politica de confidențialitate pentru fiecare dintre partenerii de publicitate ai site-ului Cinema. </P>

<p> Serverele de publicitate sau rețelele publicitare de la terțe părți utilizează tehnologii precum cookie-uri, JavaScript sau semnalizatoare web care sunt utilizate în reclamele și linkurile respective care apar pe site-ul Cinema, care sunt trimise direct în browserul utilizatorilor. Ei primesc automat adresa dvs. IP atunci când se întâmplă acest lucru. Aceste tehnologii sunt utilizate pentru a măsura eficiența campaniilor lor publicitare și / sau pentru a personaliza conținutul publicitar pe care îl vedeți pe site-urile web pe care le vizitați. </p>

<p> Rețineți că site-ul Cinema nu are acces sau control asupra acestor cookie-uri care sunt utilizate de agenții de publicitate terți. </p>

<h2> Politicile de confidențialitate ale terților </h2>

<p> Politica de confidențialitate a site-ului Cinema nu se aplică altor agenți de publicitate sau site-uri web. Astfel, vă sfătuim să consultați Politicile de confidențialitate respective ale acestor servere de anunțuri terțe pentru informații mai detaliate. Poate include practicile și instrucțiunile lor despre cum să renunțe la anumite opțiuni. </p>

<p> Puteți alege să dezactivați cookie-urile prin opțiunile individuale ale browserului. Pentru a afla informații mai detaliate despre gestionarea cookie-urilor cu anumite browsere web, acestea pot fi găsite pe site-urile web respective ale browserelor. </p>

<h2> Drepturile de confidențialitate CCPA (Nu vindeți informațiile mele personale) </h2>

<p> Conform CCPA, printre alte drepturi, consumatorii din California au dreptul la: </p>
<p> Solicitați ca o companie care colectează datele personale ale unui consumator să dezvăluie categoriile și anumite date personale pe care o companie le-a colectat despre consumatori. </p>
<p> Solicitați ca o companie să șteargă orice date personale despre consumatorul pe care o companie le-a colectat. </p>
<p> Solicitați ca o companie care vinde datele personale ale unui consumator să nu vândă datele personale ale acestuia. </p>
<p> Dacă faceți o solicitare, avem o lună pentru a vă răspunde. Dacă doriți să vă exercitați oricare dintre aceste drepturi, vă rugăm să contactați
