@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie Update";
}
@model Licenta.ViewModels.UpdateMovieViewModel


<div class="container col-sm-7 p-5 form" >
    <form asp-action="Update" asp-controller="Movie" method="post" enctype='multipart/form-data'>

        <div class="form-group">
            <label asp-for="title" class="control-label"></label>
            <input asp-for="title" class="form-control" required />
            <span asp-validation-for="title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="description" class="control-label"></label>
            <textarea asp-for="description" class="form-control" required></textarea>
            <span asp-validation-for="description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="release_date" class="control-label"></label>
            <input asp-for="release_date" class="form-control" required />
            <span asp-validation-for="release_date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="duration" class="control-label"></label>
            <input asp-for="duration" class="form-control" required />
            <span asp-validation-for="duration" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Imaginea actuală:</label>
            <br />
            <img src="~/@Model.img1" height="300" width="170" />
            <br />
            <label asp-for="img" class="control-label"></label>:
            <br />
            <br />
            <input asp-for="img" accept="image/*" />
            <span asp-validation-for="img" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Trailer actual:</label>
            <br />
            <video poster="~/@Model.img1"  controls class="video">
                <source src="~/@Model.video1" type="video/mp4">

                Your browser does not support the video tag.
            </video>
            <br />
            <br />
            <label asp-for="video" class="control-label"></label>:
            <br />
            <input asp-for="video" accept="video/*" />
            <span asp-validation-for="video" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="active" class="control-label"></label>
            <br />
            <input value="1" type="radio" asp-for="active" required />DA
            <br />
            <input value="0" type="radio" asp-for="active" />NU
            <span asp-validation-for="active" class="text-danger"></span>
        </div>

        <input type="hidden" name="id" value="@Model.id" />
        <button type="submit" class="btn btn-danger">Actualizați</button>
    </form>
</div>