@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Screening";
}


<div class="container bg-dark p-5 text-center" style="border-radius:15px;">


    <h2>Sunteți sigur că doriți să ștergeți această ecranizare?</h2>
    <h5>
        Dacă ștergeți această ecranizare atunci toate rezervările asociate ei vor fi și ele șterse și nu se vor mai putea recupera. Dacă din motive excepționale această rezervare a fost anulată atunci anunțați-vă clienții care au făcut deja rezervare.
    </h5>
    <br />
    <br />


    <h5>Ștergeți?</h5>
    <form action="/Screening/Delete/@Model" method="post">
    <button type="submit" class="btn btn-danger">Da</button>
    </form>
    <br />
    
    <a class="btn btn-danger" href="/Screening/Reservations/@Model">Nu</a>

</div>